In [1]:
print("hellow")

hellow

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
import requests
from io import StringIO
url = "https://raw.githubusercontent.com/datasets/covid-19/main/data/countries-aggregated.csv"
req = requests.get(url)
df1 = StringIO(req.text)
df1 = pd.read_csv(df1)
df1.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0